@model Data_Base_Bank.ViewModels.DepositsViewModel.DepositsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a asp-area="" asp-controller="Deposits" asp-action="Index">Back</a>
</h3>

<h2>Edit Deposit</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Deposits.First().DespositID" class="control-label"></label>
                <input asp-for="Deposits.First().DespositID" class="form-control" readonly />
                <span asp-validation-for="Deposits.First().DespositID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().CurrencyID" class="control-label"></label>
                <select asp-for="Deposits.First().CurrencyID" class="form-control" asp-items="Model.CurrenciesList"></select>
                <span asp-validation-for="Deposits.First().CurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().DepositorID" class="control-label"></label>
                <select asp-for="Deposits.First().DepositorID" class="form-control" asp-items="Model.DepositorsList"></select>
                <span asp-validation-for="Deposits.First().DepositorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().TypedepositID" class="control-label"></label>
                <select asp-for="Deposits.First().TypedepositID" class="form-control" asp-items="Model.TypedepositsList"></select>
                <span asp-validation-for="Deposits.First().TypedepositID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().EmployeeID" class="control-label"></label>
                <select asp-for="Deposits.First().EmployeeID" class="form-control" asp-items="Model.EmployeesList"></select>
                <span asp-validation-for="Deposits.First().EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().Depositsum" class="control-label"></label>
                <input asp-for="Deposits.First().Depositsum" class="form-control"/>
                <span asp-validation-for="Deposits.First().Depositsum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().Datedeposit" class="control-label"></label>
                <input asp-for="Deposits.First().Datedeposit" class="form-control"/>
                <span asp-validation-for="Deposits.First().Datedeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().Refundamount" class="control-label"></label>
                <input asp-for="Deposits.First().Refundamount" class="form-control"/>
                <span asp-validation-for="Deposits.First().Refundamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposits.First().Datereturn" class="control-label"></label>
                <input asp-for="Deposits.First().Datereturn" class="form-control"/>
                <span asp-validation-for="Deposits.First().Datereturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

